# Kaggle input data (train, valid, test 等の大量データはプッシュしない)
kaggle/input/
cubicasa5k_processed/
scripts/my_cubicasa_dataset/
my_cubicasa_dataset/
cubicasa5k_pix2pix/
cubicasa_segment/
cubicasa_mask2former/
cubicasa_instance

# 大量データ・アーカイブ（pushしない）
archive*/
archive (1)/
*.zip

# モデルの重みファイルを除外
*.pth

#写真
*.png
*.jpg